* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 36px;
    background-color: rgba(108, 108, 108, 0.5);
}

#popup {
    display: none;
    background-color: rgb(255, 255, 255);
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    text-align: center;
    font-size: 36px;
    border-radius: 15px;
    margin-top: 40px;
    border: 2px solid rgb(172, 172, 172);
}

i {
    font-size: 100px;
    color: rgb(5, 150, 254);
    padding: 10px 10px;
}

#popup button {
    background-color: rgb(5, 150, 254);
    color: white;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    border: none;
}

.Sign-Up {
    color: white;
    background-color: rgb(5, 150, 254);
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    margin: 0 auto;
    display: block;
    border: none;
    margin-top: 10px;
}
#wrapper{
    width:100%;
    height:100vh;
}