* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto Condensed", sans-serif;
    background-color: rgb(0, 183, 255);
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 400px;
    height: 65vh;
}

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(0, 183, 255);
    width: 500px;
    height: 350px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 7px 7px 35px rgb(41, 41, 41);
}

p {
    font-size: 30px;
    padding: 30px 15px;
    font-weight: 400;
    word-spacing: 2px;
    color:white;
}

h3 {
    font-size: 35px;
    padding: 20px 10px;
    font-weight: 600;
    color:white;
}

button {
    font-size: 25px;
    margin: 20px 10px;
    padding: 20px 10px;
    font-weight: 600;
    border-radius: 5px;
}